<div class="container">
  <h1>New Team</h1>

  <%= render "form", team: @team %>

  <br>
<% if false %>
  <div class="actions">
    <%= link_to "Back to Teams", tournament_teams_path(@team.tournament), class: "btn btn-secondary" %>
  </div>
<% end %>    
</div>

