<div class="container">
  <h1>New Team</h1>

  <%= render "form", team: @team %>

  <br>

  <div class="actions">
    <%= link_to "Back to Teams", teams_path, class: "btn btn-secondary" %>
  </div>
</div>
