<div id="<%= dom_id opponent_team %>">
  <p>
    <strong>Name:</strong>
    <%= opponent_team.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= opponent_team.short_name %>
  </p>

</div>
