  <h1>Invitation to become a tournament admin</h1>
  <h3>You have been invited to become a tournament admin</h3>
  <p>You have been invited to become a tournament admin for the <%= @tournament.name %> tournament.</p>
  <p>To accept the invitation, please click on the following link:</p>
  <% binding.pry %>
  <p><%= link_to 'Accept Invitation', accept_invitation_url(@tournament.invitations.last.id) %></p>

