<div id="<%= dom_id event %>">
  <p>
    <strong>game_type</strong>
    <%= event.game_type %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>


  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
